/* generle rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 20px;
    color: #23272a;
}

header{
    height: 80px;
}


.container{
    width: 90%;
    max-width: 1180px; 
    margin: 0 auto;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

.btn{
    font-size: 14px;
    color: black;
    padding: 10px 15px;
    background-color: white;
    text-decoration: none;
    border-radius: 40px;
}

.btn.big{
    font-size: 18px;
    padding: 15px 20px;
}

.btn.black{
    background-color: black;
    color: white;
}

.btn:hover{
    color:cornflowerblue;
}

.btn.big2{
    font-size: 20px;
    color: white;
    background-color: #7D8FD8;
    padding: 15px 30px;
}

.big2:hover{
    color: black;
}


/* HEADER */
header{
    height: 80px;
    background-color: #3161E0;
    line-height: 80px;
}

/* logo */
.logo, .main-nav{
    float: left;
}

.logo img{
    vertical-align: middle;
}

.main-nav{
    width: calc(100% - 202px);
    text-align: center;
}


/* menu */
.main-nav ul{
    list-style: none;
}

.main-nav ul li{
    padding: 0 15px;
    display: inline-block;
}

.main-nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.main-nav ul li a:hover{
    text-decoration: underline;
}

#accedi{
    float: right;
}

/* jumbo */

.jumbotron{
    height: 547px;
    background-image: url('../img/jumbo.png');
    background-size: cover;
}

.jumbotron .container{
    max-width: 800px;
    color: white;
    text-align: center;
    padding-top: 100px;
}

.jumbotron h1{
    font-size: 53px;
    margin-bottom: 40px;
}

.jumbotron p{
    margin-bottom: 30px;
    line-height: 35px;
}

.jumbotron .btn:first-of-type{
    margin-right: 20px;
}

/* MAIN */

.bg-white, .bg-grey{
    width: 100vw;
    padding-bottom: 100px;
}

.bg-white{
    background-color: white;
}

.bg-grey, .bg-grey-2{
    background-color: #F4F4F4;
}

.bg-grey-2{
    width: 100vw;
    padding-bottom: 50px;
}

.discord1, .text-box-1, .discord2, .text-box-2{
    float:left;
}

.text-box-1, .text-box-2{
    width: 40%;
}

.text-box-1{
    padding: 30px 0 0 100px;
}

.text-box-2{
    padding: 30px 100px 0 0;
}

.text-box-1 h2, .text-box-2 h2, .text-box-3 h2{
    font-size: 50px;
    margin-bottom: 30px;
}

.text-box-1 p, .text-box-2 p, .text-box-3 p{
    line-height: 30px;
}

.text-box-3{
    text-align: center;
    padding-top: 50px;
}

.discord4{
    width: 100%;
}

.star{
    width: 50%;
    background-image: url('../img/stars.svg');
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
    padding-top: 50px;
}

.text-box-4, .download{
    text-align: center;
}

.text-box-4 h2{
    font-size: 30px;
}

.download{
    margin: 50px 0;
}